<section class='bg-white pt-30 lg:pt-[120px]'>
  <div class='max-w-6xl mx-auto pt-10 px-4 sm:px-6 lg:px-8'>
    <div class='flex flex-col md:flex-row -mx-4'>
      <div class='md:flex-1 px-20'>
        <h2 class='text-2xl font-bold text-gray-800 mb-2'>{{name}}</h2>
        <br />
        <div class='mr-4'>
          <span class='font-bold text-gray-700'>Category:</span>
          <span class='text-gray-600'>{{categoryName}}</span>
        </div>
        <br />
        <div class='mr-4'>
          <span class='font-bold text-gray-700'>Price:</span>
          <span class='text-gray-600'>${{price}}</span>
        </div>
        <br />
        <div class='mr-4'>
          <span class='font-bold text-gray-700'>Original:</span>
          <span class='text-gray-600'>{{original}}</span>
        </div>
        <br />
        <div>
          <span class='font-bold text-gray-700'>Is natural?</span>
          <span class='text-gray-600'>{{#if isNatural}}Yes{{else}}No{{/if}}</span>
        </div>
        <br />
        <div class='mb-4'>
          <span class='font-bold text-gray-700'>Select Color:</span>
          <div class='flex items-center mt-2'>
            {{#each color}}
            <button style='background-color: {{this}};' class='w-6 h-6 border-2 border-gray-700 mr-2'></button>
            {{/each}}
          </div>
        </div>
        <br />
      </div>
      <div class='md:flex-1 px-4'>
        <div class='h-[460px] rounded-lg bg-gray-300 mb-4'>
          <img class='w-full h-full object-cover' src={{image}} alt='Image' />
        </div>
      </div>
    </div>
  </div>
</section>